html {
  display: block;
  height: 100%;
  overflow:hidden;
  padding: 0;
  margin: 0;
}

body {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}

#cgl {
  width: 100%;
  height: 100%;
}

.tooltipbody:hover .tooltip {
    display: block;
}

.tooltip {
    display: none;
    background: #C8C8C8;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width: max-content;
    max-width: 200px;
    height: max-content;
}

.tooltipbody {
  margin:0px;
}
