  .tooltipbody:hover .tooltip {
      display: block;
  }
  
  .tooltip {
      display: none;
      background: #C8C8C8;
      margin-left: 28px;
      padding: 10px;
      position: absolute;
      z-index: 1000;
      width: max-content;
      max-width: 200px;
      height: max-content;
  }
  
  .tooltipbody {
    margin:0px;
  }