html {
  display: block;
  height: 100%;
  overflow:hidden;
  padding: 0;
  margin: 0;
}

body {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}

#cgl {
  width: 100%;
  height: 100%;
}
